<h2>Student Lists</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-Mail id</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>
        <button (click)="viewStudent(student.id)" class="btn btn-success">View</button>
      </td>
      <td>
        <button (click)="updateStudent(student.id)" class="btn btn-info">Update</button>
      </td>
      <td>
        <button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
